{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "powershell",
    "FUNCTIONS_WORKER_RUNTIME_VERSION": "7.4",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_EXTENSION_VERSION": "4",
    "AzureFunctionsJobHost__Logging__Console__IsEnabled": "true",
    "AzureFunctionsJobHost__Logging__LogLevel__Default": "Error",
    "AzureFunctionsJobHost__Logging__LogLevel__Host.Function": "Information",
    "AzureFunctionsJobHost__Logging__LogLevel__Function": "Information",
    "AzureFunctionsJobHost__Logging__LogLevel__Microsoft.Azure.WebJobs.Script.WebHost.Middleware": "Information",
    "AzureFunctionsJobHost__Logging__LogLevel__Host": "Error",
    "AzureFunctionsJobHost__Logging__LogLevel__Azure": "Error",
    "AzureFunctionsJobHost__Logging__LogLevel__Azure.Core": "Error",
    "AzureFunctionsJobHost__Logging__LogLevel__Azure.Storage": "Error",
    "AzureFunctionsJobHost__Logging__LogLevel__System": "Error",
    "AzureFunctionsJobHost__Logging__LogLevel__Microsoft": "Error",
    "AzureFunctionsJobHost__Logging__LogLevel__DurableTask": "Error",
    "JWT_SECRET": "dev-secret-change-in-production-please-make-this-very-long-and-random-at-least-64-characters-for-testing-2fa-implementation",
    "ENCRYPTION_KEY": "GENERATE-NEW-32CHAR-KEY-USE-pwsh",
    "TURNSTILE_SECRET_KEY": "KEY_FROM_TURNSTILE_DASHBOARD",
    "SMTP_SERVER": "smtp.example.com",
    "SMTP_PORT": "587",
    "SMTP_USERNAME": "noreply@linktome.example",
    "SMTP_PASSWORD": "your-smtp-password-here",
    "SMTP_FROM": "noreply@linktome.example"
  }
}
